<html>
<body>
Following customer has requested an increase in quota space.
<table>
<tr>
  <td>
    Customer First Name:
  </td>
  <td>
    {{ cust_fname }}
  </td>
  <tr>
    <td>
      Customer Last Name:
    </td>
    <td>
      {{ cust_lname }}
    </td>
  </tr>
  <tr>
    <td>
      Cost Center:
    </td>
    <td>
      {{ cost_cent }}
    </td>
  </tr>
  <tr>
    <td>
      F5 Failover Occurred
    </td>

  </tr>
  <tr>
    <td>
      Support Center Rep:
    </td>
    <td>
      {{ sc_account }}
    </td>
  </tr>
  <tr>
    <td>
      Site Before:
    </td>
    <td>
      {{ site_before }}
    </td>
  </tr>
  <tr>
    <td>
      Site After:
    </td>
    <td>
      {{ site_after }}
    </td>
  </tr>
  <tr>
    <td>
      Sites Failed Over:
    </td>
    <td>
      {{ sites }}
    </td>
  </tr>
</tr>
</table>
</html>
