<html>
<body>
F5 Onesource failover has occurred.
<table>
  <tr>
    <td>
      F5 Failover Occurred
    </td>

  </tr>
  <tr>
    <td>
      Admin: {{ sc_account }}
    </td>
  </tr>
  {% for site, info in site_info.items() %}
  <tr>
    <td>
      Website Name: {{ site|e }}
    </td>
  </tr>
    <tr>
      <td>
        DC Before: {{ info.site|e }}
      </td>
    </tr>
    {% if info.site == 'TMC' %}
    <tr>
      <td>
        DC After: MC
      </td>
    {% else %}
      <td>
        DC After: TMC
      </td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
</html>
