{% extends "base.html" %}
{% from 'macro.html' import render_field %}
{% block content %}
{{ form.hidden_tag() }}
<div class="container-fluid">
  <div class="panel-body">
    <form action="" method="post" class="form" name="f5form">
      <h3 class="success"> OneSource Website Failover</h3>
      <div class="form-group">
        {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="checkbox">
            {{ render_field(field) }} {{ field.label }}
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-success">Failover</button>
    </form>
  </div>
</div>
{% endblock %}
