{% extends "base.html" %} {% from 'macro.html' import render_field %} {% block content %}
<div id="page-content-wrapper">
  <div class="container-fluid">
  </div>
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="panel-body">
      <form action="" class="form-signin" method=post>
        <h2 class="form-signin-heading">Login</h6>
    {{ form.hidden_tag() }}
    <div class="form-group">
      <div class="input-group">
      <label for="username" class="">Username</label>
      {{ form.username(class_="form-control")}}
      <label for="password" class="">Password</label>
      {{ form.password(class_="form-control")}}
        <input type=submit value=Login class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
</div>

{% endblock %}
